html,body,div,ul,li,h1,h2,h3,h4,h5,h6,p{
			padding:0px;
			margin:0px;
		}
		li{
			list-style-type: none;
		}
		.main{
			width:100%;
			padding-bottom: 5px;
		}
		.submenu ul{
			float:right;
		}
		.submenu li{
			float:left;
		}
		br{
			clear:both;
		}
		.submenu{
			background-color:#be9a30;
			padding-bottom: 2px;
		}
		div.submenu ul li {

			font-size: 32px;
			color: white;
			margin:11px;
			/*padding:0px 11px;*/
			border-right:1px solid white;
		}
		.box{
			width: 100%;
			padding-bottom: 10px;

 
		}
		.box button{
			float: right;
			font-size: 20px;
			width: 10%;
			padding-right: 80px;
		    padding-left: 40px;
		    margin-top: 10px;
			margin-right: 40px;
			border-radius: 8px;
			background-color:#4682b4;
		}
		
		.box img{
			float: left;
			width:33.72%;
		}
		.aboutus{
			padding-bottom: 10px;
			padding-left: 0px;
		}
		.aboutus ul{
			clear: both;
			width: 55%;
			float:right;
		}
		.aboutus li{
			float:left;
		}
		div .aboutus ul li{
			
			font-size: 30px;
			margin: 0px 5px 0px 0px;
			/*padding:0px 11px;*/
			border-right:1px solid black;
		}
		.whole{
			clear: both;
			background-image: url("vfrndp.jpg" );
			padding-bottom: 120px;
			/*height: 900px;*/
			width: 100%;
			background-size:cover;
			background-repeat: no-repeat;
		}
		
		.container{
			width: 85%;
			padding-bottom: 390px;
			margin: auto;
			background-color: rgba(5,3,0,0.5);	
		}
		.upperContainer{
			width: 100%;
			padding-bottom: 200px;
		}

		#aa{

			width:58.922%;
			height: 330px;
			float: left;
			margin: 30px;
		}
		.placement{
			width: 30.3871%;
			padding-bottom: 130px;
			background-color: #6D6D5F;
			color: white;
			margin-top: 27px;
			border:1px solid black;
			/*margin: 25px 10px 5px 35px;*/
			float: left;
			height: 202px;
		}
		.placement h1 p{
			width: 100%;
		}
		.lowerContainer{
			clear: both;
			width: 100%;
			padding-bottom: 100px;
						}
		.lowerContainer1{
				margin-left: 10px;
			  	width:29%;
			  	height: 360px;
			  	border:2px solid black;
			  	background-image: url("vbuild.jpg");
						}
		.news{
			width:100%;
			color: white;
			border:1px solid black;
			background-color: rgba(30,40,50,0.4);
			content:normal;
			margin-top: 18%;
		}
		.exam{
			width: 100%;
			padding-bottom: 130px;
			border:1px solid black;
			background-color: #6D6D5F;
			}
		.results{
			width: 100%;
			padding-bottom: 130px;
			margin-top: 20px;
			border:1px solid black;
			background-color:#D6C51A;
				}	
		.events{
			width: 100%;
			text-align: right;
			background-color:#C1C1BF;
			padding-bottom: 320px;
			margin-left: 20px;
				}	
		.events img{
			width:70%;
			height: 250px;
			float: left;
					}
		.lowerContainer1{
			float: left;
			margin-left: 30px;
						}
		.lowerContainer2{
			float: left;
			
			width:27%;
  			padding-bottom: 40px;
  			margin-left: 40px;
						}
		.lowerContainer3{
			float: left;
			width:30%;
  			
  			margin-left: 40px;

						}
		.part3-1{
 		text-align: center;
 				}
 		.btech{
 					float: left;
 					margin-left: 140px;
 					width: 25%;
 					padding: 5px;
 				}
 		.btech img{
			
			width:100%;
			height: 300px;
			margin-bottom: 0px;
				}
		.btech ul {
				background-color: red;
				margin-top: 0px;
				width: 100%;
			  padding-bottom: 10px;
			   text-align: center;
		}
		.btech li{
			display: inline-block;
			padding: 2px;
			margin: 0px;
			text-align: center;
			
			}
			.btech button{
				
			    font-size: 20px;
			    width:50% ;
			   padding-bottom: 23px;
			    border-radius: 8px;
			    background-color: red;
			}	
		.btech ul li:nth-child(even){
			border-right:2px solid white; 
		}
		.mtech{
			float: left;
			margin-left: 30px;
			width: 25%;
		}
		.mtech img{
			width:100%;
			height: 300px;
			margin-bottom:0px; 
					}
		.mtech ul {
				background-color: yellow;
				margin-top: 0px;			
				width: 100%;
			   padding-bottom: 10px;
			    text-align: center;
					}
		.mtech li{
			display: inline-block;
			padding: 2px;
			margin: 0px;
			
			}
			.mtech button{
			    font-size: 20px;
			    width: 50%;
			   padding-bottom: 23px;
			    border-radius: 8px;
			    background-color: yellow;
							}
		.mtech li:nth-child(even){			
			border-right:2px solid white; 
								}

		.mba{
			float: left;
			margin-left: 30px;
			width: 25%;
		}
		.mba img{
			width:100%;
			height: 300px;
			margin-bottom: 0px;
					}
		.mba ul {
			
				background-color: green;
				margin-top: 0px;			
				width: 100%;
				text-align: center;
			  padding-bottom: 10px;
			    
					}
		.mba li{
			display: inline-block;
			padding: 2px;
			margin: 0px;

			}
		.mba button{
			    font-size: 20px;
			    width: 50%;
			    margin-left: 20px;
			padding-bottom: 23px;
			    border-radius: 8px;
			    background-color: green;
							}
		.mba li:nth-child(even){			
			border-right:2px solid white; 
								}
								.heading{
									width:100%;
								}
								.heading2{
									width: 100%;
								}
								.heading1{
									width: 100%;
								}
			.heading,.heading1,.heading2{
				
				
				text-align: center;
				padding-bottom: 10px;
				color: white;
				font-size: 20px;
				background-color: black;
				margin-top: 0px;
			}	
					.part4{
						margin-top: 50px;
						clear: both;
						padding-bottom: 10px;
					}
					.facilities{
			text-align: center;
			padding-bottom: 10px;
		}
 		.smallimg{
			
			width:25%;
			float: left;
			padding: 5px;
			margin: 30px 30px 0px 300px;
			
		}
		.smallimg img{
	
			height: 70px;
		}
		.paragraph{
			float: left;
			margin-left: 10px;
			width: 45%;
			
		}
		.paragraph p{
			margin-top: 30px;
			text-align: left;
			font-size: 25px;
			
			
		}
		.part5{
			clear: both;
			margin-top: 230px;
			width: 1349px;
		    padding-bottom: 500px;
			background-color: black;
			
		}
		.quick{
			padding: 5px;
			float: left;
			margin-top: 20px;
			margin-left:75px; 
		}
		
		.quick button{
			width: 200px;
			padding: 10px;
			font-size: 20px;
			margin: 20px 20px 0px 50px;
		
			border:2px solid white;
			background-color: green;
		}
		.fullforms{
			padding: 5px;
			margin-top: 20px;
			color: white;
			width:250px;

		}
		.fullforms li:nth-child(even){
			border-right: 2px solid white;
		}
		.eventz{
			float: left;
			margin-left: 200px;
			margin-top: 20px;
		}
		
		.eventz button{
			width: 200px;
			padding: 10px;
			font-size: 20px;
			margin: 20px 20px 0px 50px;
		
			border:2px solid white;
			background-color: orange;
		}
		.sminfo img{
			float: left;
			color:white;
			width:50px;
			height: 50px;
			padding-bottom: 20px;
			margin-top:20px; 
		}
		.img11 {
			padding-top: 20px;
		}
		.img22{
			padding-top: 20px;
		}
		.img11 p{
    			padding-top: 20px;
    		}
    		.img22 p{
    			padding-top: 42px;
    		}
		#p1{
			color: white;

			margin-left:54px; 
	}
		#p2{
			color: white;
			margin-left:70px; 
		}
		#p3{	
			color: white;
		}
		.map{
			float: left;
			margin-top: 20px;
		}
		.contact{
			float: left;
			margin-left: 200px;
			margin-top: 20px;
			width: 0px;
		}
		.contact button{
			width: 200px;
			padding: 10px;
			font-size: 20px;
			margin: 20px 20px 0px 50px;
			border:2px solid white;
			background-color: red;
		}
		.contact p{
			margin-top: 20px;
			width: 0px;
		}
		/*@media only screen and (max-width:500px) {
		html{
			width: 1347px;
		
		}*/
		@media only screen and (max-width: 500px) {
    		.image {
        		display: none;
    		}
		}
		@media only screen and(min-width:266px) and (max-width:500px){
		.aboutus ul {
			    width: 99%;
			   
		}
		.aboutus{
			 padding-left: 0px;
		}
		.submenu ul{
			padding-left: 200px;
		} 
 		.box button{
 			width: 18%;
 			padding-right: 50px;

 		}
 		.whole{
 			width: 1348px;
 		}
 		.image img{
 			width:100%;
 		}
 		.container {
 			width: 85%;
 		}
 		#aa{
 			height: 50%;
 			width: 50%;
 		}

 		

	}
@media only screen and (max-width: 500px) {
    		.placement {
       			width:100% !important ;
    		}
    		.lowerContainer1{
    			width:100%;
    			margin-left: 0px;
    		}
    		.lowerContainer2{
    			width:100%;
    			margin-left: 0px;
    		}
    		.lowerContainer3{
    			width: 100%;
    			margin-left: 0px;
    			margin-right: 0px;
    		}
    		.events{
    			width: 100%;
    			margin-left: 0px;
    		}
    		.part-3{
    			width: 100%;
    		}
    		.part3-1{
    			width: 100%;
    		}
    		.btech{
    			width:90%;
    			margin-left: 15px;
    		}
    		.mtech{
    			width: 90%;
    			margin-left: 20px;
    			margin-top:20px;
    		}
    		.mba{
    			width: 90%;
    			margin-left: 20px;
    			margin-top: 20px;
    		}
    		.part4{
    			width:100%;

    		}
    		.facilities{
    			width: 100%;
    		}
    		.smallimg{
    			width:85%;
    			margin-left: 0px;
    		}
    		.paragraph{
    			width: 90%;
    		}
    		.part5{
    			width: 100%;
    			padding-bottom:1000px;
    		}
    		.quick{
    			width: 100%;
    			margin-left: 40px;

    		}
    		.fullforms{
    			width: 70%;
    			margin-left: 20px;

    		}
    		.eventz{
    			width: 100%;
    			margin-left: 50px;

    		}
    		.sminfo{
    			width:70px;
    			margin-left: 20px;
    			margin-top: 10px;
    		}
    		.contact{
    			width: 100%;
    			margin-left: 40px;

    		}
    		.img11 p{
    			padding-top: 20px;
    		}
    		.img22 p{
    			padding-top: 50px;
    		}
    		#p1{
    			width:70%;
    			margin-top: 40px;
    		}

		}